<h1 style="color: white; margin: 30px 10px;">Contacts Home</h1>

<div class="container" >
  <div class="row">

    <div class="col-sm-8">
      <h1>Contacts Home</h1>
    </div> <!-- end col-sm-8-->

    <div class="col-sm-4">
      <h3>Contacts Home</h3>
    </div> <!-- end col-sm-4-->

  </div><!-- end row -->
</div><!-- end container -->
